html {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: thistle;
    width: 600px;
    height: 800px;
    border: 3px solid brown;
    margin: auto;
}

header {
    width: 600px;
    height: 100px;
    border: 1.5px solid brown;
    position: fixed;
    background-image: linear-gradient(45deg, yellow,white , yellowgreen);
}
header h1 {
   position: relative;
   left: 20px;
}

header h2 {
    position: relative;
    left: 140px;
    bottom: 20px;
}

main {
    width: 600px;
    height: 600px;
    /*border: 1px solid red;*/
    position: relative;
    top: 99.5px;
}

main article {
    width: 440px;
    float: right;
    /*border: 1px solid yellowgreen ;*/
    font-size: 11.6px;
    z-index: -1;
}

article img {
    float: right;
    margin-right: 3.6px;
    z-index: 1;
}

main aside {
    width: 150px;
    float: left;
    /*border: 1px solid yellow;*/
    margin-left: 5px;
}

div a {
    position: relative;
    bottom: 1em;
}

header img {
    float: left;
    position: relative;
    top: 30px;
    margin-left: 18px;
}

header h2 {
  clear: both;
}
.img1 {
    width: 100px;
    height: 50px;
}

footer {
    width: 600px;
    height: 50px;
    background-color: brown;
    border: 1px solid brown;
    position: relative;
    top: 149px;
    text-align: center;
    color:white;
}
