/* Set position image */
.imgTop {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
}
/* Set position text */
.text_center {
    text-align: center;
}