/* style for HTML */
html {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/* style for BODY */
body {
     background-color: #fffded;
     width: 600px;
     margin: 0 auto;
     border: 4px solid #931420;
}
/* style for HEADER */
header {
     background-image: linear-gradient(45deg,orange ,white,orange);
     border: 1px solid orangered;
     padding: 1.5em 0 2.5em;
}

header img {
     float: left;
     padding: 0 3.75%;
  
}

header h1 {
    color: brown;
    margin: auto;
}
header h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
/*------------------*/
/* style for MAIN */
main {
    background-color: whitesmoke;
    border: 1px solid brown;
    border-top: 2px solid brown;
}

main h3 {
    color: brown;
    margin-left: 1em;
}

main div {
    margin-left: 1em;
}

main nav {
    margin-left: 1em;
}

nav h2 {
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
    margin-right: 1em;
}

/*-------------------------*/
/* style for TEXT */
.indent {
    text-indent: 2em;
}

.textshadow{
    text-shadow: 2px 2px 2px brown;
}
/*------------------*/
/*sytle for IMAGE */
.img1 {
    width: 10%;
    height: 10%;
}

/* style for FOOTER*/
.footer { 
    background-color: #931420;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1em;
    color: white;
}